/* Home Component CSS Starts Here*/
@font-face {
    font-family: AstroArmadaExpanded;
    src: url("../fonts/astro-armada-cufonfonts-webfont/AstroArmada-RpXBl.woff");
}

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: radial-gradient(at center center, rgba(184, 178, 140, 0.5) 50%, rgba(35, 48, 24, 0.5) 100%), url('../img/backgroundImg.jpg');
    /* background: linear-gradient(to top,  rgba(184, 178, 140, 1) 0%, rgba(35, 48, 24, 1) 50%), url('../img/backgroundImg6.jpg'); */
    background-position: center;
    background-size: cover;
    height: 100vh;
}


.home h1{
    font-size: calc(18px + 5vmin);
    color:rgba(255, 255, 255, 1);
    /* font-weight: bold; */
    letter-spacing: 7px;
    font-family:AstroArmadaExpanded;
}

.home h2{
    font-size: calc(10px + 2vmin);
    color: rgba(255, 255, 255, 1);
    font-weight: lighter;
    letter-spacing: 5px;
    font-weight: bold;
}

.home p{
    color: rgba(255, 255, 255, 1);
    text-align: center;
    letter-spacing: 2px;
    font-size: calc(6px + 2vmin);
    margin-top: 10px;
    margin-bottom: 30px;
    font-family:AstroArmadaExpanded;

}

.home_btn_register{
    border: white solid 2px;
    background-color: #233018;
    color: rgba(255, 255, 255, 0.8);
    padding: 10px 30px;
    margin: 0 30px;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    width:150px;
}

.home_btn_login{
    border: white solid 1px;
    background-color: white; 
    color: rgba(35, 48, 24, 1);
    padding: 10px 30px;
    margin: 0 30px;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
    width:150px;
}

.home_button{
    display: flex;
    align-self: center;
    text-align: center;
    text-decoration: solid;
}

@media screen and (max-width: 300px){
    .home_button{
        display: flex;
        flex-direction: column;
    }
    .home_btn_register{
        margin-top: 20px;
    }
}

/* Home Component CSS End Here*/

/* About Component CSS Starts Here */

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* background: radial-gradient(at center center, rgba(184, 178, 140, 0.8) 20%, rgba(184, 178, 140, 0.4) 100%), url('../img/backgroundImg.jpg'); */
    background: radial-gradient(at center center, rgba(184, 178, 140, 0.5) 50%, rgba(35, 48, 24, 0.5) 100%), url('../img/backgroundImg.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.about h1{
    font-size: calc(18px + 5vmin);
    color: rgba(255, 255, 255, 0.8);
    font-weight: normal;
    letter-spacing: 2px;
}

.about h2{
    font-size: calc(10px + 2vmin);
    color: rgba(255, 255, 255, 0.8);
    font-weight: lighter;
    letter-spacing: 4px;
}

.about p{
    color: rgba(255, 255, 255, 1);
    text-align: center;
    letter-spacing: 3px;
    font-size: calc(6px + 2vmin);
    margin-top: 10px;
    margin-bottom: 50px;
    font-family:"Lucida Handwriting";
}


/* About Component CSS End Here*/

/* Services Component CSS Starts Here */


.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: radial-gradient(at center center, rgba(184, 178, 140, 0.5) 50%, rgba(35, 48, 24, 0.5) 100%), url('../img/backgroundImg.jpg');
    /* background: radial-gradient(at center center, #2d7e9270 0%, #1c40617c 100%), url('../img/backgroundImg.jpg'); */
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.services h1{
    font-size: calc(18px + 5vmin);
    color: rgba(255, 255, 255, 0.8);
    font-weight: normal;
    letter-spacing: 2px;
}

.services h2{
    font-size: calc(10px + 2vmin);
    color: rgba(255, 255, 255, 0.8);
    font-weight: lighter;
    letter-spacing: 4px;
}

.services p{
    color: rgba(255, 255, 255, 1);
    text-align: center;
    letter-spacing: 3px;
    font-size: calc(6px + 2vmin);
    margin-top: 10px;
    margin-bottom: 50px;
    font-family:"Lucida Handwriting";
}

/* Services Component CSS End Here */

/* Contact Component CSS Starts Here */


.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* background: radial-gradient(at center center, rgba(184, 178, 140, 0.8) 20%, rgba(184, 178, 140, 0.4) 100%), url('../img/backgroundImg.jpg'); */
    background: radial-gradient(at center center, rgba(184, 178, 140, 0.5) 50%, rgba(35, 48, 24, 0.5) 100%), url('../img/backgroundImg.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.contact h1{
    font-size: calc(18px + 5vmin);
    color: rgba(255, 255, 255, 0.8);
    font-weight: normal;
    letter-spacing: 2px;
}

.contact h2{
    font-size: calc(10px + 2vmin);
    color: rgba(255, 255, 255, 0.8);
    font-weight: lighter;
    letter-spacing: 4px;
}

.contact p{
    color: rgba(255, 255, 255, 1);
    text-align: center;
    letter-spacing: 3px;
    font-size: calc(6px + 2vmin);
    margin-top: 10px;
    margin-bottom: 50px;
    font-family:"Lucida Handwriting";
}

.login-modal .modal-backdrop{
    background: transparent !important;
} 

.login-modal .modal-content {
    border:0px !important;
}


.register-modal .modal-content {
    margin: 0px 0px!important;
    padding: 0px 0px !important;
}
.register-modal .jumbotron{
    background-color: rgba(35, 48, 24, 1) !important; 
    margin: 0px 0px!important;
    padding: 10px 0px !important;
}

.register-modal .jumbotron .modal-header{
    margin: 0px 0px!important;
    padding: 0px 0px !important;
}


.register-modal .jumbotron .bar{
    font-family:AstroArmadaExpanded;
    color: rgba(255, 255, 255, 1);
    margin: 0px 0px!important;
    padding: 0px 0px !important;
}

.register-modal .modal-body{
    margin: 0px 0px!important;
    padding: 0px 0px !important;    
}

.phone-field .form-control{
    width: 100% !important;
}

.error{
    color:red;
}
.error::before {
    content: "⚠ ";
    }
    