@font-face {
    font-family: AstroArmadaExpanded;
    src: url("../fonts/astro-armada-cufonfonts-webfont/AstroArmada-RpXBl.woff");
}

.dashboard-user{
    width: 100% !important;
    min-height: 80vh !important;
}

.heading{
    font-size: calc(10px + 5vmin);
    color:rgb(49, 42, 42);
    /* font-weight: bold; */
    letter-spacing: 7px;
    font-family:AstroArmadaExpanded;
}

.select-status{
    width: 300px !important;
}

.user-info-box{
    border: 2px solid black !important;
    width: 300px !important;
    box-shadow: 5px 5px #3f3a3a;
}


@media screen and (max-width: 330px){
    .select-status{
        width: 200px !important;
    }
    
    .user-info-box{
        width: 200px !important;
    }
}