* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: AstroArmadaExpanded;
    src: url("../fonts/astro-armada-cufonfonts-webfont/AstroArmada-RpXBl.woff");
}
.header{
    font-size: calc(3px + 3vmin);
    color:rgba(255, 255, 255, 1);
    /* font-weight: bold; */
    letter-spacing: 7px;
    font-family:AstroArmadaExpanded;
}


.Application-header{
    background: radial-gradient(at center center, rgba(184, 178, 140, 0.5) 50%, rgba(35, 48, 24, 0.5) 100%), url('./../img/backgroundImg.jpg');
    /* background: radial-gradient(at center center, rgba(0, 0, 0, 0) 10%,rgba(35, 48, 24, 0) 90%),  url("./../img/backgroundImg2.jpg"); */
        
    background-repeat: no-repeat;
    background-size: cover ;
    /* align-items: center ;
    justify-content: center; */
    font-size: calc(3px + 2vmin) !important;
    min-height: 5vh !important;
    position:sticky !important;
  }

.Application-header img{
    width: 8vw !important;
    height: 10vh !important;
}

.Application-header .nav-link{
    color:rgba(0, 0, 0, 0.6) !important;
}

#collasible-nav-dropdown{
    color:rgba(0, 0, 0, 0.6) !important;
}

.Application-header .nav-link:hover{
    color:rgba(0, 0, 0, 1) !important;
}

#collasible-nav-dropdown:hover{
    color:rgba(0, 0, 0, 1) !important;
}


/* .ainnav{
    text-decoration: none;
} */

.navclass{
    display: flex;
    justify-content: space-around;
    /* background: url('../img/star-sky.jpg'); */
    position: absolute;
    min-height: 10vh;
    width: 100%;
    align-items: center;

}

.navlink{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 50%;
}

.extra{
    display: none;
}

.navlogo{
    display: flex;
    color: rgba(255, 255, 255, 0.6);
    font-size: 32px;
}

.navlogo h4{
    margin-left: 7px;
    letter-spacing: 1px;
    font-weight: lighter;
}


.linkinnav{
    letter-spacing: 4px;
    font-weight: bold;
}

/* anchor tag is no more in use */
/* .linkinnav a{
    color: rgba(255, 255, 255, 0.8);
}

.linkinnav a:hover{
    color: rgba(255, 255, 255, 1);
} */

.hamburger-toggle{
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    display: none;
}

@media screen and (max-width:750px){
    body{
        overflow-x: hidden;
    }
    .hamburger-toggle{
        display: block;
    }

    .extra{
        display: block;
    }
    

    /* .linkinnav a{
        font-size: 20px;
    } */

    .navlink{
        position: absolute;
        z-index: 2;
        display: flex;
        flex-direction: column;
        left: 50vw;
        height: 90vh;
        top: 10vh;
        width: 50vw;
        align-items: center; 
        background-color:rgba(184, 178, 140, 1);
        font-size: 32px;

        transform: translateX(0vw);
        transition: opacity 0.5s linear;  
        opacity: 1;
        /* transition: transform 0.1s ease-in; */
        /* rgba(98, 100, 173, 0.96) */
    }
    .active{
        /* transform: translateX(50vw); */
            /* display: none; */
        
        transform:translate(ovw); 
        opacity: 0;  
        z-index: -1;
    }
}

.link-button {
    background-color: transparent;
    border: none;
    outline: 0 !important;
    cursor: pointer;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: bold;
  }
  
  .link-button:hover,
  .link-button:focus {
    text-decoration: underline;
    color: rgba(255, 255, 255, 1);
    
  }

.Application-header2{
    background: radial-gradient(at center center, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 100%), url('./../img/backgroundImg.jpg');
    background-color:rgba(35, 48, 24, 1) !important;
    z-index: 2;
}

.Application-header2 img{
    width: 8vw !important;
    height: 10vh !important;
}

.Application-header2 .nav-link{
    color:rgba(255, 255, 255, 0.6) !important;
}

.Application-header2 #collasible-nav-dropdown{
    color:rgba(255, 255, 255, 0.6) !important;
}

.Application-header2 .nav-link:hover{
    color:rgba(255, 255, 255, 1) !important;
}


