/* const darkColor = "rgba(35, 48, 24, 1)"; */



.react-datepicker-component .react-datepicker-input.is-open {
    border: 1px solid  rgba(35, 48, 24, 1) !important;
}


.react-datepicker:not(.position-top) .react-datepicker-container .react-datepicker-top::after {
    border-bottom-color: rgba(35, 48, 24, 1) !important;
}

.react-datepicker .react-datepicker-container .react-datepicker-top {
    text-align: center;
    /* background: linear-gradient(rgba(35, 48, 24, 1), rgba(0, 7, 34, 0.8)); */
    background: rgba(35, 48, 24, 1);
    color: #fff;
    border-top: 1px solid  rgba(35, 48, 24, 0.8) !important;
    border-left: 1px solid rgba(35, 48, 24, 0.8) !important;
    border-right: 1px solid rgba(35, 48, 24, 0.8) !important;
}

.date-picker{
    outline: none !important;
    border: none !important;
}

.date-picker:active{
    outline: none !important;
    border: none !important;
}

.planmanagement .set-font{
    font-size:"calc(2px + 2vmin)";
}
